/* * {
    background-color;
} */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background: #2B0504;
    /* position: fixed; */
    width: 100%;
}

.nav-item:hover {
    background: black;
    color: white;
}

.full-screen {
    height: 100vh;
}

.odd {
    color: white;
    background: #2B0504;
}

.even {
    color: black;
    background: #874000;
}

h1 {
    margin-top: 0px;
    font-size: 2.5rem;
    font-family: Copperplate;
}

.project-discription {
    font-size: 2rem;
}

.projects-group {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.projects-item {
    border-color: black;
    border: 1px;
    text-align: center;
}

.github-project-link {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github-project-link>a {
    margin: 4vh;
    color: white;
    text-decoration: underline;
}

.github-account-link {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github-account-link {
    color: white;
    text-decoration: underline;
}

.center-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav-item {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 20vw;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: Copperplate;
}

.footer-div {
    background: #2B0504;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.links-item {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 33vw;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: Copperplate;
}