/* * {
    background-color;
} */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background: #2B0504;
    /* position: fixed; */
    width: 100%;
}

.nav-item:hover {
    background: black;
    color: white;
}

.full-screen {
    height: 100vh;
}

.odd {
    color: white;
    background: #2B0504;
    padding: 1vmax;
}

.even {
    color: black;
    background: saddlebrown;
    padding: 1vmax;
}

h1 {
    margin-top: 0px;
    font-size: 2.8rem;
    font-family: monospace;
}

h2 {
    margin-top: 0px;
    font-size: 2.5rem;
    font-family: Copperplate;
}

.capital {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.project-discription {
    margin-top: 0px;
    font-size: 2rem;
}

.projects-group {
    display: flex;
    flex-direction: row;
}

.projects-item {
    /* border-radius: 5px;
    border: black 1px solid; */
    /* background: #874000; */
    border: 0px solid black;
    border-radius: 10px;
    text-align: center;
    /*
    justify-content: space-between;
    align-items: space-between; */
}

.github-project-link {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github-project-link>a {
    margin: 2vh;
    color: white;
    text-decoration: underline;
}

#account-link-div {
    text-align: center;
}

.github-account-link {
    padding: 1.5vh;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github-account-link>a {
    width: 100%;
    color: white;
    text-decoration: underline;
}

.project-image {
    height: 20vh;
    width: 30vw;
    margin: 1vh;
}

.project-image-calc {
    height: 45vh;
    width: 20vw;
    margin: 1vh;
}

.center-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav-item {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 20vw;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: Copperplate;
}

.footer-div {
    background: #2B0504;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.links-item {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 33vw;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: Copperplate;
}